<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Dating App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" >
            <a class="nav-link"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home</a>
          
          </li>
          <li *ngIf="this.auth.isLoggedIn()">
            <a  class="nav-link" routerLinkActive="active" routerLink="/memberList">Members</a>
          </li>
          
         
          </ul> 

          <ul class="navbar-nav " *ngIf="this.auth.isLoggedIn()">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Welcome {{auth.decodedToken.unique_name}} 
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Edit Profile</a></li>
                
                <li><a class="dropdown-item" (click)="logoutUser()">Logout</a></li>
              </ul>
            </li>
          </ul>
       
        <form *ngIf="!this.auth.isLoggedIn()" #loginForm="ngForm" (ngSubmit)="loginData()" class="d-flex">
          <input class="form-control me-2" type="text" name="userName" required #userName [(ngModel)]="userInfo.userName" placeholder="UserName" aria-label="Username">
          <input class="form-control" type="password" name="password" required #password [(ngModel)]="userInfo.password" placeholder="Password" aria-label="Password" />
          <button class="btn btn-outline-success ml-5" type="submit" >Login</button>
        </form>
      </div>
    </div>
  </nav>